
<div class="container">

  <div class="row">
    <div class="col-lg-2 sidebar"  style="margin-top: 100px;" >
      <a class="sidebarmenu" href="">Dashboard</a> <br> <br>
      <a class="sidebarmenu" routerLink="/admin/products">Products</a> <br> <br>
      <a class="sidebarmenu" routerLink="/admin/product">Add Product</a> <br> <br>
      <a class="sidebarmenu" href="">Orders</a> <br> <br>
     <br><br> <button (click)="logout()" class="btn btn-success w-100">Logout</button>
    </div>

    <div class="col-lg-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

